/* Estilos Generales */
body {
  font-family: 'Calibri', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ece4dd;
  line-height: 1.6;
}

h1 {
  text-align: center;
  color: #000;
  margin-top: 20px;
}

/* Contenedor de Administración */
.admin-container {
  text-align: center;
  padding: 20px;
}

/* Estilos de Botones */
.toggle-button,
.menu-container button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #A25733;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.toggle-button:hover,
.menu-container button:hover {
  background-color: #ECA555;
}

/* Contenedor del Menú */
.menu-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.menu-container button {
  margin: 0 5px;
}

/* Estilos de Formularios */
form {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Botones en Formularios */
form button {
  width: 100%;
  padding: 10px;
  background-color: #ECA555;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

form button:hover {
  background-color: #A25733;
}

/* Mensajes de Éxito y Error */
.success-message {
  color: #333c3c;
  text-align: center;
  margin-bottom: 20px;
}

.error-message {
  color: #ECA555;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos de Enlaces */
a {
  display: inline-block;
  margin-top: 20px;
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilos de Tablas */
table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

table thead {
  background-color: #ECA555;
  color: white;
}

table th,
table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

/* Botones de Acción en Tablas */
table button {
  padding: 5px 10px;
  background-color: #A25733;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

table button:hover {
  background-color: #ECA555;
}
